@model IEnumerable<ProyectoSBooks.Models.Categoria>

@{
    ViewData["Title"] = "Categoria";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<style>
    .alert_floating {
        position: fixed;
        top: 80px;
        right: 25px;
        width: auto;
        z-index: 9999;
    }
</style>

<div class="container mb-5">
    <h4 class="mt-1"><i class="bi bi-card-text"></i> Mantenimiento Categoria</h4>
    <hr />
    <a asp-action="Create" class="btn btn-success mb-3"><i class="bi bi-plus-square"></i>  Agregar Nuevo/a</a>

    <table id="datatable-spanish" class="table table-striped border table-bordered py-2">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IdCategoria)</td>
                        <td>@Html.DisplayFor(modelItem => item.NombreCategoria)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", new { IdCategoria = item.IdCategoria })" class="btn btn-sm btn-primary">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        <a href="@Url.Action("Delete", new { IdCategoria = item.IdCategoria })" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de eliminar esta categoria?');">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>

<!-- Mensaje de alerta -->
@if (ViewBag.mensaje != null)
{
    <div class="alert alert-success alert-dismissible fade show alert_floating" role="alert">
        @ViewBag.mensaje
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        // Cerrar todas las alertas con la clase "alert-dismissible" después de 3 segundos
        setTimeout(function () {
            var alertas = document.getElementsByClassName('alert-dismissible');
            for (var i = 0; i < alertas.length; i++) {
                var alerta = alertas[i];
                alerta.remove();
            }
        }, 3000);
    </script>
}
